/**
***** CSS INDEXING *****
************************
** GENERAL STYLES CSS **
************************ 
****** HEADER CSS ******
************************
****** FOOTER CSS ******
************************ 
******* PAGES CSS ******
************************ 
** MEDIA QUERIES CSS ***
************************
**** ANIMATIONS CSS ****
************************ 
** FAN'S SECTION CSS ***
************************
*** NEWS SECTION CSS ***
************************


**/
/* ############################################ */
/* ########### GENERAL STYLES START ########### */
/* ############################################ 

*/
/* ***************************** LABELS *******************************/
body {
  font-family: 'Poppins', sans-serif;
  background: #1d1d29;
  overflow-x: hidden; }

h1 {
  font-size: 60px; }

p {
  color: white;
  font-size: 80%;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px; }

section {
  padding: 20px 0px; }

/* **************************** CLASSES *******************************/
/* -------------COLORS-------- */
.bg-magenta {
  background-color: #ff1e95 !important; }

.text-magenta {
  color: #ff1e95; }

.bg-cyan {
  background-color: #0dbfec !important; }

.text-cyan {
  color: #0dbfec; }

/* --- BOOTSRAP MODIFICATORS --- */
.container-xxl {
  padding: 0; }

.col-12 {
  padding: 0px; }

/* --- DROPDOWN MENU ON PAGES --- */
.selector-hv button:hover {
  background-color: black;
  color: white !important; }

.selector-hv button:active {
  background-color: black !important; }

.nav-pills .active {
  background-color: #0dbfec !important; }

.project-item {
  list-style: url("../images/project-icon.png"); }
  .project-item a {
    display: table-cell;
    vertical-align: middle;
    color: #0dbfec; }
    .project-item a:hover {
      color: #ff1e95; }

/* ########################################## */
/* ########### GENERAL STYLES END ########### */
/* ########################################## 

*/
/* #################################### */
/* ########### HEADER START ########### */
/* #################################### 

*/
.header-home, .header-other {
  padding: 5px 40px;
  text-shadow: 0 0 20px black, 1px 1px 3px black, -1px -1px 3px black;
  background-image: url("../images/jedi_order.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw; }
  .header-home p, .header-other p {
    text-shadow: 0 0 40px black,0 0 30px black, 1px 1px 3px black, -1px -1px 3px black; }
  .header-home nav, .header-other nav {
    font-weight: bold; }
    .header-home nav a:hover, .header-other nav a:hover {
      color: #ff1e95 !important; }

.header-other {
  background-image: url("../images/blade_runner.jpg");
  background-position: left; }

.navbar-dark {
  /* Bootstrap modificator */
  color: white;
  outline: white; }
  .navbar-dark:hover {
    color: #0dbfec; }

/* ################################## */
/* ########### HEADER END ########### */
/* ################################## 

*/
/* ################################### */
/* ########### FOOTER START ########## */
/* ################################### 

*/
.footer {
  width: 100vw;
  height: 199px;
  padding-top: 50px;
  text-align: center;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 60px black,0 0 50px black,0 0 40px black, 0 0 30px black, 1px 1px 3px black, -1px -1px 3px black; }

/* ################################### */
/* ########### FOOTER END ############ */
/* ################################### 

*/
/* ################################### */
/* ########### PAGES START ########### */
/* ################################### 

*/
/* ####### INDEX PAGE START ###### */
.section-wick {
  width: 100%;
  padding: 0;
  margin: 0; }

/* ####### INDEX PAGE END ###### 

*/
/* ####### COMPOSERS PAGE START ###### */
.composer {
  box-shadow: 0px 0px 150px -45px #0dbfec; }
  .composer:hover {
    box-shadow: 0px 0px 120px -55px #ff1e95; }
  .composer__card {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    transition: all 0.4s;
    font-size: 14px;
    font-weight: 400; }
    .composer__card:hover {
      transform: scale(1.02);
      transition: all 0.4s; }
  .composer__info-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .composer__header h2 {
    color: #fff; }
  .composer__header h3 {
    color: #ff1e95;
    font-size: 18px; }
  .composer__header h4 {
    margin: 2px 0px;
    color: #0dbfec;
    font-size: 16px; }
  .composer__profile-photo {
    border-radius: 3px;
    width: 200px;
    height: 120px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5); }
  .composer__back1 {
    background: url("../images/composers/john_williams2.jpg");
    background-position: center; }
  .composer__back2 {
    background: url("../images/composers/hans_zimmer2.jpg");
    background-position: center; }
  .composer__back3 {
    background: url("../images/composers/james_horner2.jpg");
    background-position: center; }
  .composer__back4 {
    background: url("../images/composers/howard_shore2.jpg");
    background-position: center; }
  .composer__blur-back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px; }

/* ####### COMPOSERS PAGE END ######

*/
/* ####### MOVIES PAGE START ###### */
.movie {
  box-shadow: 0px 0px 80px -45px #ff1e95; }
  .movie:hover {
    box-shadow: 0px 0px 100px -55px #0dbfec; }

/* ####### MOVIES PAGE END ######

*/
/* ################################### */
/* ########### PAGES END ############# */
/* ###################################

*/
/* ########################################### */
/* ########### MEDIA QUERIES START ########### */
/* ########################################### 

*/
/* ############################ MOBILE GRID ############################# */
@media (max-width: 599px) {
  .header-home, .header-other {
    height: 650px; }
  .header-other {
    height: 500px; }
  .quote {
    /* QUOTE SECTION */ }
    .quote__text-size {
      text-align: center;
      margin: 0px 5%;
      font-size: 13px;
      padding-top: 1%; }
  h3 {
    line-height: 0.8; }
    h3 a {
      font-size: 60%; }
  .news {
    /* NEWS SECTION */ }
    .news__card {
      width: 500px; }
    .news__content {
      width: 250px;
      bottom: 15px;
      right: 300px;
      left: 320px;
      text-align: left; }
      .news__content h4 {
        width: 300px; }
    .news__date {
      right: 320px;
      left: 320px; }
  .composer {
    /* COMPOSERS SECTION */ }
    .composer__card {
      height: auto;
      margin: 50px auto;
      min-height: 350px; }
    .composer__header {
      margin: 230px 80px 10px 80px; }
    .composer__info-section {
      background: linear-gradient(to top, #141413 50%, transparent 100%); }
    .composer__blur-back {
      width: 100%;
      background-position: 50% 50% !important; } }

/* ############################ TABLET GRID V1############################# */
@media (min-width: 600px) and (max-width: 768px) {
  .header-home, .header-other {
    height: 650px; }
  .header-other {
    height: 500px; }
  .quote {
    /* QUOTE SECTION */ }
    .quote__text-size {
      text-align: center;
      margin: 0px 10%;
      font-size: 15px; }
  h3 {
    line-height: 0.8; }
    h3 a {
      font-size: 65%; }
  .news {
    /* NEWS SECTION */ }
    .news__card {
      max-width: 900px; }
    .news__content {
      width: 250px;
      bottom: 15px;
      right: 300px;
      left: 230px;
      text-align: left; }
      .news__content h4 {
        width: 450px; }
    .news__date {
      left: 230px; }
  .composer {
    /* COMPOSERS SECTION */ }
    .composer__card {
      height: auto;
      margin: 70px auto;
      min-height: 350px; }
    .composer__header {
      width: 40%;
      margin: 120px 0px 0px 100px; }
    .composer__info-section {
      background: linear-gradient(to top, #141413 50%, transparent 100%); }
    .composer__blur-back {
      width: 100%; } }

/* ############################ TABLET GRID V2############################# */
@media (min-width: 769px) and (max-width: 1024px) {
  .header-home, .header-other {
    height: 500px; }
  .header-other {
    height: 400px; }
  .quote {
    /* QUOTE SECTION */ }
    .quote__text-size {
      text-align: center;
      margin: 0px 10%;
      font-size: 15px; }
  .news {
    /* NEWS SECTION */ }
    .news__card {
      max-width: 900px; }
    .news__content {
      width: 400px;
      bottom: 15px;
      right: 300px;
      left: 150px;
      text-align: left; }
      .news__content h4 {
        width: 560px; }
    .news__date {
      left: 150px; }
  .composer {
    /* COMPOSERS SECTION */ }
    .composer__card {
      height: auto;
      margin: 20px 0px 60px 0px;
      min-height: 350px; }
    .composer__header {
      width: 40%;
      margin: 120px 0px 0px 100px; }
    .composer__info-section {
      background: linear-gradient(to top, #141413 50%, transparent 100%); }
    .composer__blur-back {
      width: 100%; } }

/* ############################ DESKTOP GRID ############################# */
@media (min-width: 1025px) {
  .header {
    padding: 25px; }
    .header-home, .header-other {
      height: 800px; }
    .header-other {
      height: 600px; }
  h1 {
    padding-top: 100px; }
  .quote {
    /* QUOTE SECTION */ }
    .quote__text-size {
      text-align: center;
      font-size: 22px;
      margin: 0px 20%;
      padding-top: 5%; }
  h3 a {
    font-size: 60%; }
  .news {
    /* NEWS SECTION */ }
    .news__content {
      width: 250px;
      bottom: 15px;
      right: 20px;
      left: 60px;
      text-align: left; }
      .news__content h4 {
        width: 750px; }
    .news__date {
      left: 60px; }
  .composer {
    /* COMPOSERS SECTION */ }
    .composer__card {
      margin: 20px 0px 60px 0px;
      height: 350px; }
    .composer__header {
      width: 60%;
      margin: 0px 0px 0px 20px; }
    .composer__info-section {
      background: linear-gradient(to right, #0d0d0c 50%, transparent 100%); }
    .composer__blur-back {
      width: 80%;
      background-position: -100% 10% !important; } }

/* ######################################### */
/* ########### MEDIA QUERIES END ########### */
/* ######################################### 

*/
/* ######################################## */
/* ########### ANIMATIONS START ########### */
/* ######################################## 

*/
/* --- GALLERY SCALE ---*/
.scale-img:active {
  transform: scale(1.2, 1.2);
  box-shadow: 0px 0px 100px 30px black; }

/* --- BUTON FLIP ---*/
.btn-flip {
  font-weight: 700;
  background-color: white;
  padding: 8px 30px;
  border-radius: 50px;
  border: 3px solid transparent;
  color: #ff1e95;
  bottom: 0;
  margin: 5px 23px;
  opacity: 1;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  .btn-flip:hover:after {
    opacity: 1;
    transform: translateY(40%) rotateX(0); }
  .btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg); }
  .btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #0dbfec;
    transition: 0.6s;
    position: absolute;
    content: attr(data-back);
    transform: translateY(0) rotateX(90deg); }
  .btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.6s;
    position: relative;
    content: attr(data-front);
    transform: translateY(0) rotateX(0); }

/* --- TEXT ANIMATION --- */
.animation-text {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/* ###################################### */
/* ########### ANIMATIONS END ########### */
/* ###################################### 

*/
/* ################################## */
/* ########### FANS START ########### */
/* ################################## 

*/
.main-header {
  color: lawngreen;
  display: block;
  margin-top: 50px;
  margin-left: 50px; }

.movie-slider {
  position: relative; }

.movie-slider::before {
  content: '';
  height: 438px;
  width: 60px;
  display: block;
  background: linear-gradient(to right, #1d1d29, transparent);
  position: absolute;
  left: 0;
  z-index: 1; }

.movie-slider::after {
  content: '';
  height: 438px;
  width: 60px;
  display: block;
  background: linear-gradient(to left, #1d1d29, transparent);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

.movie-list {
  margin: 30px 0;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll; }

.movie-list::-webkit-scrollbar {
  width: 15px;
  height: 10px; }

.movie-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.movie-list::-webkit-scrollbar-thumb {
  background-color: #2f2f44;
  outline: 1px solid #0dbfec;
  border-radius: 50px; }

.movie-card {
  background: linear-gradient(135deg, #0dbfec 0%, #0dbfec 34%, #ff1e95 80%, #ff1e95 100%);
  border-radius: 10px;
  width: 182px;
  box-shadow: 0px 2px 8px #0dbfec;
  cursor: pointer;
  margin: 20px 15px;
  position: relative;
  transition: all 1s; }

.movie-card:hover {
  box-shadow: 0px 5px 20px #ff1e95;
  transform: scale(1.08); }

.movie-poster {
  border-radius: 10px 10px 0px 0px;
  margin: 2px; }

.movie-info {
  padding: 15px 10px; }

.movie-title {
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 42px;
  text-align: center; }

.btn-watch {
  font-weight: 700;
  background-color: white;
  padding: 8px 36px;
  border-radius: 50px;
  border: 3px solid transparent;
  color: #ff1e95;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px; }

/* ################################ */
/* ########### FANS END ########### */
/* ################################ 

*/
/* ######################################### */
/* ########### LATEST NEWS START ########### */
/* ######################################### 

*/
.news__nav button:hover {
  color: #0dbfec; }

.news__content {
  position: absolute;
  text-shadow: 1px 2px 2px black; }
  .news__content a:hover {
    color: #ff1e95; }

.news__bg {
  height: 350px;
  padding: 5px; }

.news__date {
  position: absolute;
  top: 0;
  border-radius: 10px;
  background: -moz-linear-gradient(-45deg, #0dbfec 0%, #0dbfec 34%, #ff1e95 64%, #ff1e95 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0dbfec 0%, #0dbfec 34%, #ff1e95 64%, #ff1e95 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0dbfec 0%, #0dbfec 34%, #ff1e95 64%, #ff1e95 100%);
  padding: 20px;
  color: white; }
  .news__date h3 {
    font-size: 50px;
    text-align: center; }

.news__slide-area {
  position: relative;
  overflow: hidden;
  border-radius: 10px; }

.news__card {
  background-color: white;
  border-radius: 10px;
  width: 900px;
  box-shadow: 0px 5px 10px #111111;
  cursor: pointer;
  margin: 20px 15px;
  position: relative;
  transition: all 1s; }

.news__slider {
  position: relative; }

.news__slider::before {
  content: '';
  height: 370px;
  width: 80px;
  display: block;
  background: linear-gradient(to right, #1d1d29, transparent);
  position: absolute;
  left: 0;
  z-index: 1; }

.news__slider::after {
  content: '';
  height: 370px;
  width: 80px;
  display: block;
  background: linear-gradient(to left, #1d1d29, transparent);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

.flickity-prev-next-button {
  /* FLICKITY MODIFIER */
  z-index: 2; }

/* ####################################### */
/* ########### LATEST NEWS END ########### */
/* ####################################### 

*/
