/* LABELS */
body {
  font-family: 'Poppins', sans-serif;
  background-image: url("../images/what-the-hex-dark.png"); }

p {
  color: #bebebe;
  font-size: 80%;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px; }

a:hover {
  color: white !important; }

section {
  padding: 5px 10px; }

table {
  /*--------------- TABLA------------- */
  border-collapse: collapse;
  background-color: #fbbd11;
  width: 250px;
  border: 3px solid gray;
  margin: 10px 10px 10px 0px; }

th {
  width: 10%;
  height: 15%;
  text-align: left;
  background-color: #c28e00;
  border: 1px solid gray;
  padding: 10px 10px;
  font-size: 80%;
  font-weight: bold; }

td {
  width: 25%;
  text-align: left;
  border: 1px solid gray;
  padding: 5px 5px 0px 10px;
  font-size: 60%;
  font-weight: bold; }

ol {
  list-style-image: url(https://mdn.mozillademos.org/files/11981/starsolid.gif); }

/*------------------------- TABLA-------------------- */
/* *******************************CLASES *******************************/
.colorSubtitle {
  color: #ffffff; }

.colorTabletitle {
  background-color: #aeb7b3; }

.uPpercase {
  /* Titulos en Mayuscualas */
  text-transform: uppercase; }

.redText {
  color: red; }

.greenText {
  color: greenyellow; }

.paddingL {
  margin-left: 5px; }

.textSize {
  /* Texto QUOTE */
  width: 360px; }

header {
  background-color: #eeaf01;
  padding: 5px 60px; }
  header nav {
    font-weight: bold; }

footer {
  text-align: center; }

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* ############################ MOBILE GRID ############################# */
@media (max-width: 599px) {
  h3 a {
    font-size: 70%; }
  .img-card-size {
    width: 178px;
    height: 100px; }
  .w-card {
    width: 180px; }
  .h-card {
    height: 320px; }
  .carousel-control-prev {
    transform: translate(-45px, 0);
    position: absolute; }
  .carousel-control-next {
    transform: translate(30px, 0);
    position: absolute; } }

/* ############################ TABLET GRID ############################# */
@media (min-width: 600px) and (max-width: 1024px) {
  h3 a {
    font-size: 68%; }
  .textSize {
    /* Texto QUOTE */
    width: 600px; }
  .img-card-size {
    width: 198px;
    height: 100px; }
  .w-card {
    width: 200px; }
  .h-card {
    height: 300px; }
  .carousel-control-prev {
    transform: translate(-60px, 0);
    position: absolute; }
  .carousel-control-next {
    transform: translate(60px, 0);
    position: absolute; } }

/* ############################ DESKTOP GRID ############################# */
@media (min-width: 1025px) {
  section {
    padding: 20px 80px; }
  table {
    border-collapse: collapse;
    background-color: #fbbd11;
    width: 550px;
    border: 3px solid gray; }
  .textSize {
    /* Texto QUOTE */
    width: 950px;
    font-size: 20px; }
  h3 a {
    font-size: 60%; }
  .img-card-size {
    width: 198px;
    height: 100px; }
  .w-card {
    width: 200px; }
  .h-card {
    height: 320px; }
  .carousel-control-prev {
    transform: translate(-100px, 0);
    position: absolute; }
  .carousel-control-next {
    transform: translate(80px, 0);
    position: absolute; } }

/* CAROUSEL SCALE */
.scale-card:hover {
  transform: scale(1.01, 1.01);
  /* SCALE */ }

/* ----------------- */
.text-in-img {
  position: relative;
  display: inline-block;
  text-align: center; }

.texto-encima {
  position: absolute; }

.animation-text {
  /* TEXT ANIMATION */
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.animation-img {
  /* IMG ANIMATION */
  -webkit-animation: kenburns-top 2s ease-out both;
  animation: kenburns-top 2s ease-out both; }

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; } }

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.25) translateY(-30px);
    transform: scale(1.25) translateY(-30px);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; } }
