/* ################################### */
/* ########### FOOTER START ########## */
/* ################################### 

*/

.footer{
    width: 100vw;
    height: 200px;
    padding-top: 60px;
    text-align: center;
    background-image: url("../images/footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0 0 60px black,0 0 50px black,0 0 40px black, 0 0 30px black, 1px 1px 3px black, -1px -1px 3px black;
}

/* ################################### */
/* ########### FOOTER END ############ */
/* ################################### 

*/
